@use "colors";

body {
	font-family: "Noto Sans";
	font-size: 12px;
	color: colors.$foreground;
	background: colors.$background;
}

input.text {
	background-color: colors.$input-background;
	color: colors.$input-foreground;
	padding: 4px;
	border-radius: 4px;

	tab-index: auto;
	cursor: text;
	box-sizing: border-box;
	width: 200px;

	&:disabled {
		color: colors.$disabled;
	}
}